<img src="http://placehold.it/50x50" class="avatar img-circle"> David Sanchez
<div class="dropdown">
  <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="glyphicon glyphicon-option-vertical"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
    <li><a [routerLink]="['/dashboard']">Contacts</a></li>
    <li><a [routerLink]="['/dashboard/addcontact']">Add Friend</a></li>
    <li><a [routerLink]="['/dashboard/conversations']">Chats</a></li>
    <li><a [routerLink]="['/dashboard/settings']">Settings</a></li>
  </ul>
</div>