div.contenedor{
    float: right;
}
div.dropdown{
    display: inline;
}
button{
    border: none;
    width: 30px;
    height: 30px;
    background: none;
}
.badge-notify{
   background:red;
   position:relative;
   top: -5px;
   left: -10px;
   font-size: 10px;
  }