div.contenedor{
    float: right;
}
div.dropdown{
    display: inline;
}
button{
    border: none;
    width: 30px;
    height: 30px;
    background: none;
}
.pending{
    display: inline-block;
    position: absolute;
    top:0px;
    right: 0px;
    color: red;
    z-index: 100;
    font-size: 13px;
}