<h4>Search your contacts</h4>
<form [formGroup]='formModel' (ngSubmit)="sendFriendRequest()">
  <div class="form-group row" [ngClass]="{'has-danger': hasError('email')}">
    <div class="col-9">
      <input type="email" class="form-control" placeholder="Email" formControlName="email">
      <span class="form-control-feedback" *ngIf="hasError('email', 'email')"> Please enter a valid email </span>
      <span class="form-control-feedback" *ngIf="hasError('email', 'existEmail')"> There's not user registered with that email </span>
    </div>
    <div class="col-3">
      <button type="submit" class="btn btn-success" [disabled]='!formModel.valid'>
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</form>
<hr>
<pending-requests [user]="user"></pending-requests>