<div class="head">
    <div class="conversation-img">
        <img src="http://placehold.it/70x70" alt="none" class="avatar">
    </div>
    <div class="conversation-data">
        <h5> {{ getTitle() }} </h5>
        <p *ngIf="conversation.info.type === 'ptop' && checkStatus()">Online</p>
        <p *ngIf="conversation.info.type === 'group'">
            <span *ngFor="let contact of conversation.info.participants">
                {{ contact.name }} ({{contact.email}}),
            </span>
        </p>
        <div class="icons">
            <div class="dropdown">
                <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" i18n>Clear conversation</a>
                    <a class="dropdown-item" i18n>Delete contact</a>
                    <a class="dropdown-item" i18n>Leave group</a>
                    <a class="dropdown-item" i18n>Edit Participants</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="messages" #scrollMe>
    <div *ngFor="let message of conversation.messages" class="arrow_box" 
        [ngClass]="setMessageClass(message)" [ngSwitch]="message.type">
        <div *ngSwitchCase="'text'">
            <strong> {{ message.from.name }}:</strong> {{message.content}}
        </div>
         <div *ngSwitchCase="'canvas'">
             <div><strong> {{ message.from.name }}:</strong></div>
             <app-canvas  [points]="message.content"></app-canvas>
        </div>
    </div>
</div>